.container{
    border: 4px solid rgba(51, 51, 51, 0.33);
    border-radius: 8px;
    padding: 50px;
}

.btnContainer{
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.input{
    margin-right: 10px !important;
}
